* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 1440px;
    margin: auto;
}

.header-container {
    background-color: #1f2937;
    color: white;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

a, .header-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 86px;
}

.header-links {
    display: flex;
    gap: 32px;
}

.header-body {
    display: flex;
    padding: 96px 86px;
}

.header-wrap, .image-placeholder {
    flex: 1;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
}

.btn-header {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 28px;
    margin-top: 12px;
}
